@font-face {
    font-family: 'Theano Didot';
    src: local('Theano Didot Regular'), local('TheanoDidot-Regular'), url('theanodidotregular.woff2') format('woff2'), url('theanodidotregular.woff') format('woff'), url('theanodidotregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
