@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Theano Didot';
    src:
		local('Theano Didot Regular'),
		local('TheanoDidot-Regular'),
		url('../fonts/theanodidot/theanodidotregular.woff2') format('woff2'),
		url('../fonts/theanodidot/theanodidotregular.woff') format('woff'),
		url('../fonts/theanodidot/theanodidotregular.ttf') format('truetype');
    font-weight: 400;
    /* font-style: normal; */
}

/* *, *:before, *:after {
	box-sizing: border-box
} */

* {
	font-family: Theano Didot, sans-serif ;
	font-style: italic;
}

/* button {
	font-family: Theano Didot, sans-serif ;
	font-style: italic;
} */


#main-menu li a{ 
	@apply block py-2 ly-menu-large-screen
}

.ly-menu-large-screen{ 
	@apply pr-4 pl-3 border-b border-gray-200 hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:p-0 dark:hover:bg-gray-900 md:dark:hover:bg-transparent dark:border-gray-800
}

ul li a{
	@apply ly-menu-all-screen
}
.ly-menu-all-screen{
	@apply text-gray-700 dark:text-gray-400 hover:text-red-500 dark:hover:text-red-500
}

.ly-active{
	@apply font-bold text-red-500 dark:text-red-500 
}

.burger {
	display: flex;
	justify-content: center;
	flex-direction: column;

	padding: 5%;
	border: 0;
	width: 32px;
	height: 32px;

	background-color: transparent;
}

.burger:hover {
	cursor: pointer;
}

.burger:focus {
	outline: none;
}

.burger-line {
	@apply bg-gray-500 dark:bg-gray-400;
	position: relative;

	width: 100%;
	height: 2px;
	border-radius: 2px;
	transition: .5s;
}

.burger-line:nth-child(1){
	top: 2px;
	transform: translateY(-7px);
}

.burger-line:nth-child(3){
	bottom: 2px;
	transform: translateY(7px);
}

.burger.open .burger-line:nth-child(1){
	transform: rotate(45deg);
}
.burger.open .burger-line:nth-child(2){
	width: 0%;
	/* margin-left: 50%; */
	opacity: 0;
}
.burger.open .burger-line:nth-child(3){
	transform: rotate(135deg);
}

