@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Theano Didot';
    src:
		local('Theano Didot Regular'),
		local('TheanoDidot-Regular'),
		url('../fonts/theanodidot/theanodidotregular.woff2') format('woff2'),
		url('../fonts/theanodidot/theanodidotregular.woff') format('woff'),
		url('../fonts/theanodidot/theanodidotregular.ttf') format('truetype');
    font-weight: 400;
    /* font-style: normal; */
}

/* *, *:before, *:after {
	box-sizing: border-box
} */

* {
	font-family: Theano Didot, sans-serif ;
	font-style: italic;
}

/* button {
	font-family: Theano Didot, sans-serif ;
	font-style: italic;
} */


#main-menu li a{ 
	@apply block py-2 ly-menu-large-screen
}

.ly-menu-large-screen{ 
	@apply pr-4 pl-3 border-b border-gray-200 hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:p-0 dark:hover:bg-gray-900 md:dark:hover:bg-transparent dark:border-gray-800
}

ul li a{
	@apply ly-menu-all-screen
}
.ly-menu-all-screen{
	@apply text-gray-700 dark:text-gray-400 hover:text-red-500 dark:hover:text-red-500
}

.ly-current-item{
	@apply font-bold text-red-500 dark:text-red-500 
}

