body {
	font-family: TheanoDidotRegular, sans-serif;
	background-color: black;
}

.lc_top_margin {
	margin-top: 110px;
}

.lc_right_margin {
	margin-left: auto;
}

.lc_next-row {
	clear: both;
}

.lc_border-transparent {
	border: transparent;
}

.lc_margin-0 {
	margin: 0;
}

.lc_mnu_main.active {
	text-decoration: underline;
	text-decoration-color: white;
	/* text-underline: white; */
	/*background-image: linear-gradient(to right, white 75%, transparent 75%);*/
	/*background-position: 0 1.04em;*/
	/*background-repeat: repeat-x;*/
	/*background-size: 8px 3px;*/
}

.lc_main_picture {
	float: right;
	/*margin: 2rem;*/
}

/*Задание параметров и содержимого кнопки инструментов (меню)*/
.lc_navbar-mytoggler-icon {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	vertical-align: middle;
	content: "";
	background: no-repeat center center;
	background-size: 100% 100%;
	/*рисунок в центре кнопки*/
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='square' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M12 15h14M20 23h6'/%3e%3c/svg%3e");
}

/* Код для подключения шрифта в /css/stylename.css */
@font-face {
	font-family: "TheanoDidotRegular";
	src: url("../fonts/TheanoDidotRegular/TheanoDidotRegular.eot");
	src: url("../fonts/TheanoDidotRegular/TheanoDidotRegular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/TheanoDidotRegular/TheanoDidotRegular.woff") format("woff"),
		url("../fonts/TheanoDidotRegular/TheanoDidotRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/*Код масштабирования при ширине окна меньше 480px*/
@media screen and (max-width: 480px) {
	html {
		font-size: calc(3.2vw);
	}

	.lc_top_margin {
		margin-top: calc(12vw);
	}
}

@media screen and (min-width: 481px) and (max-width: 575px) {
	.lc_top_margin {
		margin-top: 70px;
	}
}

@media screen and (max-width: 992px) {
	.lc_main_picture {
		width: calc(44vw);
	}
}

.navbar {
	background: black;
	/*linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1) 20%);*/
}

.navbar-nav {
	background-color: black;
	width: max-content;
}

#navbarSupportedContent {
	width: max-content;
}

.nav-item .nav-link {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	width: max-content;
}

.navbar-nav .dropdown-menu {
	position: static;
	float: left;
	/*none*/
	background-color: black;

}

.dropdown-item {
	display: block;
	/*width: 100%;*/
	padding: 0.25rem 0.5rem 0.15rem 0.5rem;
	margin: 0 0.5rem;
	width: max-content;
	clear: both;
	font-weight: 400;
	/*font-weight: bold;*/
	color: #ffffff80;
	/*#212529*/
	text-align: inherit;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
}

.dropdown-item:hover,
.dropdown-item:focus {
	color: #fff;
	/*#16181b*/
	text-decoration: none;
	background-color: transparent;
	/*#f8f9fa*/
}

.dropdown-item.active,
.dropdown-item:active {
	color: #fff;
	text-decoration: none;
	background-color: transparent;
	/*#007bff*/
}

.dropdown-item.disabled,
.dropdown-item:disabled {
	color: #ffffff80;
	/*#6c757d*/
	pointer-events: none;
	background-color: transparent;
}

aphp>img {
	border: 10px solid #CCC;
	padding: 2px;
	margin: 10px 5px 10px 0;
}

/*.carousel-inner img {*/
/*    max-width: 100%;*/
/*    max-height: 100%;*/
/*}*/

/*button:focus{*/
/*    outline-color: transparent;*/
/*}*/

/*.text_underline {*/
/*    text-decoration: underline;*/
/*}*/
/*.dropdown-menu.show {*/
/*    display: block;*/
/*}*/

/*.dropdown-header {*/
/*    display: block;*/
/*    padding: 0.5rem 1.5rem;*/
/*    margin-bottom: 0;*/
/*    font-size: 0.875rem;*/
/*    color: #6c757d;*/
/*    white-space: nowrap;*/
/*}*/

/*.dropdown-item-text {*/
/*    display: block;*/
/*    padding: 0.25rem 1.5rem;*/
/*    color: #212529;*/
/*}*/